/* Universal Styles */

html {
  font-family: "Montserrat";
  font-size: 16px;
}

.main-content {
  position: relative;
  top: 5.3125rem; /* To offset for fixed header. */
  z-index: 10;
  margin-bottom: 300px;
}

.center {
  text-align: center;
}

.button {
  border-radius: 4px;
  background-color: rgb(242, 140, 40);
  color: white;
  opacity: 0.9;
}

.button:hover{
  opacity: 1;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

@media only screen and (max-width: 895px) {
  .main-content {
    top: 3rem;
  }
}

/* Header */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  border-bottom: solid 1px rgb(242, 140, 40);
  background: rgba(255, 255, 255, 0.9);
  opacity: 1;
  height: 5.312em;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1.875rem;
  opacity: 0.9;
}

header .logo {
  flex: 1;
  font-size: 1rem;
}

header .logo:hover {
  opacity: 1;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 3.5rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #000000;
}

nav .button {
  padding: .1875rem .5rem;
  /*background-color: rgb(242, 140, 40);*/
  line-height: 1.6;
  color: white;
}

/*nav li:last-child {
  display: none;
}*/

header .icon {
  width: 1rem;
  padding-left: .75rem;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 895px) {
  header{
    height: 3rem;
  }
  nav li:last-child {
    display: block;
  }

  header .content {
    padding: 1rem 1rem;
  }
}

@media only screen and (max-width: 600px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }
}

/* Info Section */

#info-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 44rem;
  background-image: url('../images/banner-landingpage.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

#info {
  position: relative;
  top: 171px;
  left: 10%;
  padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  background: rgba(255, 255, 255, 0.5);
  flex-basis: auto;
}

#info .content {
  width: 25.625rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: rgb(0, 0, 0);
  
}

#info h1 {
  font-size: 3.125rem;
}

#info h2 {
  font-size: 2.25rem;
}

#info .name {
  font-family: 'Montserrat';
}

#info .button {
  margin-top: 1.625rem;
  padding: 1.25rem 7.25rem;
}

@media only screen and (max-width: 895px) {
  #info-section {
    align-items: center;
    justify-content: center;
    height: 28rem;
  }

  #info{
    position: static;
    width: auto;
    height: auto;
    border: none;
  }

  #info .content {
    margin-top: 0;
  }

  #info h1 {
    font-size: 3.125rem;
  }

  #info h2 {
    font-size: 2.25rem;
  }
}

@media only screen and (max-width: 600px) {
  #info-section {
    height: 20rem;
  }

  #info h1 {
    font-size: 2.25rem;
  }

  #info h2 {
    font-size: 2rem;
  }
}

/* Features Section */

#features-section {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5%;
  background-color: white;
}

.feature {
  flex: 1;
  padding: 1rem;
  margin: 0px 1.25rem;
}

.feature .feature1{
  background-image: url('../images/feature-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}

.feature .feature2{
  background-image: url('../images/feature-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}

.feature .feature3{
  background-image: url('../images/feature-3.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}

.feature .content {
  padding: 4rem;
  filter: drop-shadow(0 0 0.75rem black);
}

.feature h2 {
  padding-bottom: .5rem;
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
}

.feature h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: white;
}

@media only screen and (max-width: 895px) {
  #features-section {
    padding: 1rem;
  }

  .feature {
    margin: 0px .5rem;
    padding: 1rem;
  }

  .feature h2 {
    font-size: 2rem;
    line-height: 1.3;
  }

  .feature h3 {
    font-size: .875rem;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 600px) {
  #features-section {
    flex-flow: column;
    padding: 0;
  }

  .feature {
    margin: 0;
    padding: 1.25rem 1rem 0 1rem;
  }

  .feature .content {
    padding: 1.25rem 0 1.875rem 0;
  }
}

/* Picture Section */

#picture-section {
  padding: 4rem;
  background-color: rgb(242, 140, 40);
}

#picture-section .content {
  padding: 0 .625rem;
  margin-bottom: 5rem;
}

#picture-section .content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
}

#picture-section .content h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: white;
}

#picture-section .images-container {
  display: flex;
  max-width: 100%;
  padding: 0 1%;
}

#picture-section .image-container{
  padding: 0.5rem;
}

@media only screen and (max-width: 600px) {
  #picture-section {
    padding: 1.5rem 0 0 0;
  }

  #picture-section .content {
    margin-bottom: 1rem;
  }

  #picture-section .content h2 {
    padding-bottom: .625rem;
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  #picture-section .content h3 {
    font-size: .875rem;
    line-height: 1.4;
  }

  #picture-section .images-container {
    padding: 0;
  }

  #picture-section .extra {
    display: none;
  }
}

/* Country Section */

#country-section {
  padding: 4rem;
  background-color: white;
}

#country-section .content {
  padding: 0 .625rem;
  margin-bottom: 5rem;
}

#country-section .content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: black;
}

#country-section .content h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: black;
}

#country-section .images-container {
  display: flex;
  max-width: 100%;
  padding: 0 1%;
}

#country-section .image-container{
  padding: 0.5rem;
}

@media only screen and (max-width: 600px) {
  #country-section {
    padding: 1.5rem 0 0 0;
  }

  #country-section .content {
    margin-bottom: 1rem;
  }

  #country-section .content h2 {
    padding-bottom: .625rem;
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  #country-section .content h3 {
    font-size: .875rem;
    line-height: 1.4;
  }

  #country-section .images-container {
    padding: 0.5rem;
  }

  #country-section .extra {
    display: none;
  }
}

/* Footer */

footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  z-index: 0;
  padding: 40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

/*footer .content {
  color: lightgray;
  display: flex;
  font-size: .75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}*/


footer ul {
  flex-basis: 25rem;
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

footer li {
  padding:0 10px;
}

footer ul a {
  color: rgb(242, 140, 40);
  text-decoration:none;
  opacity:0.8;
}

footer ul a:hover {
  opacity:1;
}

footer .social {
  flex-basis: 25rem;
  text-align:center;
  padding-bottom:25px;
}

footer .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  justify-content: center;
  border-radius:50%;
  border:1px solid white;
  margin:0 8px;
  color:rgb(242, 140, 40);
  opacity:0.75;
}

footer .social > a:hover {
  opacity:1;
}

footer .copyright {
  flex-basis: 25rem;
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

@media only screen and (max-width: 600px) {
  footer {
    font-size: .625rem;
  }
}